{% extends "cafeblogs/base.html" %}

{% block page_header %}
  <div class="jumbotron">
    <h1 class="display-3">CCD Speciality Coffee - From Seed to Cup with fun.</h1>

    <p class="lead">Make your own Speciality Traveling Blog, and keep a wonderful coffee trip from seed to cup extending IOT and more. Whenever you look something new
        about CCD Speciality Coffee, it is a good source for you to explore the fanstics world.</p>

    <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}"
        role="button">Register &raquo;</a>
  </div>
{% endblock page_header %}